body{
  margin: auto 0;
  background-color: #bcd2ea;

}

#header {
  position:relative;
  margin:auto;

  width:100%;
  text-align:center;
  background-color:#bcd2ea;


}

#header h1 {
  margin:auto;
  padding:auto;
  vertical-align:middle;
  color: white;
  font-family: cavier-dreams;
}

#main{
  margin:auto 20px;
  min-height: 100px;
  overflow: hidden;
}

#ipWrapper{
  position: relative;
  width: 100%;
  height:100%;
  overflow: auto;
  /*border: groove 1px;*/
  /*border-radius: 10px;*/
  padding: 0;
  margin: 0;
  background: #7f8c99;
  /*max-height: 400px;*/
  display: none;
}


/*----- Dimensions -----*/
#dimensionDiv{
  display:inline-block;
  float: left;
  margin:0;
  padding:0 5px;
  width:200px;
}
#theSelect {
  display:block;
  margin:10px 0;
  text-align: center;
  width: 200px;
  height: 30px;
}
#custom-button {
  display: ;
  margin: 10px 0;
  padding: 0;
  width: 200px;
  height: 30px
}


/*----- Color -----*/
#colorDiv{
  display: inline-block;
  float:right;
  margin: 0;
  padding: 0 5px;
  width: 200px;
}
.sp-replacer.sp-light{
  display:inline-block;
  margin:10px 0;
  padding:4px 0px;
  width: 100%;

}
.sp-active{
  height:30px;
}

.sp-preview{
  width: 175px;
  margin:0 4px;
}
#gradType{
  display:block;
  margin:10px 0;
  text-align: center;
  width: 200px;
  height: 30px;
}








#imagePreview {
   height: 300px;
   width: 300px;
   display: block;
   box-shadow: black 2px 2px;
   margin: auto;
   border: 5px transparent solid;
}

#uploadWrapper{
  width: 100px;
  min-height: 100px;
  position: relative;
  cursor: pointer;
  border: dashed 2px;
  padding: auto;
  display: block;
  font-size: 80px;
  text-align: center;
  margin: 10px auto;
  line-height: 100px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#uploadImage{
  margin: auto;
  padding: auto;
   width: 100%;
   opacity: 0;
   left: 0;
   height: 100%;
   position: absolute;
   cursor: pointer;
}
